
.profilecontent{ 
    display: grid;
    grid-template-areas:
      'c1 c1'
      'c2 c3';
  
    grid-template-columns: 30% 1fr;  
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
  
  }
  
  .profilecontent > div:nth-of-type(1){
      grid-area: c1;
  }
  
  .profilecontent > div:nth-of-type(2){
    grid-area: c2;
  }
  
  .profilecontent > div:nth-of-type(3){
    grid-area: c3;
  } 
  
  .avatar{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }

  .avatar img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .status{
    margin: 10px 0;
    padding: 20px 0;
    border-top: 1px dashed #eee;
    border-bottom: 1px dashed #eee;
  }