.users{
    display: flex;
    flex-wrap: wrap;
}

.users > div{
    flex: 0 0 calc(20% - 22px - 2em);
    width: calc(20% - 22px - 2em);
    padding: 1em;
    margin: 10px;
    border: 1px dashed #eee;
    border-radius: 4px;
}

.users > div > span{
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
}