body{
  height: 100vh;
}

/* Variables */
$base-color: #2F3C4E;

/* Start: Login Page */

.loginPage{
  background-color: $base-color;
  background-size: cover;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .card{
    height: auto;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;

    .cardHeader{
      text-align: center;
      padding: 0;
      border-bottom: none;
      h1{
        font-weight: 400;
      }
    }

    .formControl{
      color: #6e707e;
      background-color: #fff;
      border: 1px solid #d1d3e2;

      font-size: .8rem;
      border-radius: 10rem;
      padding: .75rem 1rem;
      width: calc(100% - 2rem);
    }
    .cardContent{
      padding: 2em;
      form{
        & > div:last-child{
          width: 100%;
          button{
            font-size: .8rem;
            border-radius: 10rem;
            padding: .75rem 1rem;
            width: 100%;
          }
        }
      }
    }
  }
}

.logoCard {
  display: flex;
  justify-content: center;
  width: 900px;
  min-height: 550px;

  & > img{
    flex: 0 0 50%;
    max-width: 50%;
    height: 500px;
    border-radius: 10px 0 0 10px;
    min-height: 550px;
  }

  & > div.card{
    flex: 0 0 50%;
    max-width: 50%;
    justify-content: center;
    border-radius: 0 10px 10px 0;
  }
}

@media (max-width: 992px){
  .logoCard {
    width: 90%;
    & > img{
      display: none;
    }
    & > div.card{
      flex: 0 0 100%;
      max-width: 100%;
      justify-content: center;
      border-radius: 10px;
    }
  }
}

/* End: Login Page */


/* Start: errors */

.error{
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid #f8ccc8;
  border-radius: 0.35rem;
  color: #78261f;
  background-color: #fadbd8;
  display: block;
  margin-top: 15px;
}

/* End: errors */


/* Start: forms */

.form-group{
  margin: 15px 0;
}

.formControl{
  background-color: #f6f7fb;
  border: none;
  display: block;
  width: calc(100% - 1.5em);
  padding: .375em .75em;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.formControl:focus{
  outline-color: transparent;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* End: forms */


/* Start: buttons */

.btn{
  margin: 15px 0;
  background-color: #4466f2;
  border-color: #4466f2;
  cursor: pointer;
  color: white;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  background-color: #143fef;
  border-color: #143fef;
}

.btn:focus {
  background-color: #143fef;
  border-color: #143fef;
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.btn:disabled{
  cursor: auto;
}

/* End: buttons */


/* Start: main-content */

.card{
  margin-bottom: 30px;
  border: 0;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  letter-spacing: .5px;
  border-radius: 8px;
  box-shadow: 1px 5px 24px 0 rgba(68,102,242,.05);
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-bottom: 1px solid #eee;
}

.cardHeader{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #eee;
  padding: 1em;
}

.cardHeader h5{
margin: 0;
}

.cardHeaderImage{
background: url('./assets/images/social-image.png');
background-size: cover;
background-position: 30%;
height: 300px;
border-radius: 5px;
padding: 0;
border-bottom: none;
}

.cardContent{
padding: 1em;
}

/* End: main-content */